@import "tailwindcss";

@layer base {
  html {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    overflow-x: clip;
    font-family: 'Montserrat', sans-serif;
  }
  
  * {
    font-family: inherit;
  }
}

.tool-icon svg rect {
  fill: rgba(0,0,0,0) !important;
}

.tool-card:hover .tool-icon svg rect {
  fill: #ffffff !important;
}